---
import {SITE} from '../config.ts'
import {NAV_ITEMS} from '../config.ts'
import {PHOTOS} from '../config.ts'
import '../styles/global.css'
const { content } = Astro.props
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{content.title} | {SITE.title}</title>
	<meta name="description" content={SITE.description}>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<div id="wrapper">
		<header style={content.photo}>
		<nav>
			<div>
				<h1><a href="/"><img src="../../logo.png" alt="logo" class="h-12 float-left">Tirop's Angels</a></h1>
			</div>
		
			<ul>
			{
				Object.keys(NAV_ITEMS).map(navItemKey => <li>
				<a href={NAV_ITEMS[navItemKey].path}>{NAV_ITEMS[navItemKey].title}</a></li>)
			}
			</ul>
		</nav>
		</header>
		<main>
				<slot />
		</main>
		<footer class="bg-slate-100">
			<p>{SITE.footer}</p>
		</footer>
	</div>
</body>
</html>

<style>
body {
	@apply bg-slate-100
}
h1 {
	@apply font-bold text-2xl
}
#wrapper {
	@apply max-w-4xl mx-auto bg-white flex flex-col min-h-screen
}
header {
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
nav {
        @apply bg-white/60 text-sm md:text-lg
}
nav div {
	@apply bg-gray-50 h-12
}
nav ul {
	@apply flex
}
nav li {
	@apply p-2 hover:bg-blue-400 hover:text-white md:p-4 mx-auto
}
main {
	@apply p-12 flex-grow flex flex-col md:flex-row
}
footer {
	@apply p-5 bg-slate-50
}
</style>